html {
	font-size: 18px;
    font:Verdana, Arial, Helvetica, sans-serif;
    
}

body {
	background-color: #9AD1ED;
}

.container {
	max-width: 500px;
	height: auto;
	background-color: #EFEFEF;
	margin: 10% auto;
	padding-bottom: 1rem;
    align-content: center;
	
}

.form__top {
	width: 70%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #F39B53;
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #black;
	font-size: 16px;
}

h2 span {
	color: #F39B;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset{
	background-color: #EFEFEF
	padding: .5rem;
	margin: .5rem 0;
	border: ;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #F39B53 .2rem;
}

.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
   
	background-color: #31B1E5;
	color: white;
}

